body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

#odamexspawnerlogo{
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#sidebar-wrapper {
  background-color: #2d2d2d;
  border-right-color: #222;
  color: #eee;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  -webkit-box-shadow: 7px 10px 20px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 7px 10px 20px 0px rgba(0,0,0,0.1);
  box-shadow: 7px 10px 20px 0px rgba(0,0,0,0.1);
  z-index: 999;
  overflow-x: visible;

  .sidebar-heading{
    margin-bottom: 30px;
  }

  a:hover{
    text-decoration: none !important;
  }

  .list-group-item{
    color: #ddd;
    background-color: #2d2d2d;
    transition: all 0.2s;

    &:hover{
      background-color: #444;
    }
  }

  .router-link-exact-active .list-group-item{
    margin-right: -7px;
    color: #303030;
    background-color: #e3e7ea;
    border-left: 6px solid #EF5435;
    -webkit-box-shadow: 4px 6px 21px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 4px 6px 21px 0px rgba(0,0,0,0.18);
    box-shadow: 4px 6px 21px 0px rgba(0,0,0,0.18);
  }
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

.navbar{
  background-color: #222;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.11);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.11);
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.11);
}

#menu-toggle{
  background-color: #ddd;

  &:hover{
    background-color: #c8c8c8;
  }

  span{
    color: #333;
  }
}

#page-content-wrapper {
  background-color: #ECF1F5;
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.missingwadtext{
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: 3px solid #EF5435;
}

ul{
  list-style-type: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}